@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Inter, system-ui, sans-serif;
    }

    [type=checkbox]:checked{
      background-image:url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTYgMTYnIGZpbGw9JyNmZmYnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTEyLjIwNyA0Ljc5M2ExIDEgMCAwIDEgMCAxLjQxNGwtNSA1YTEgMSAwIDAgMS0xLjQxNCAwbC0yLTJhMSAxIDAgMCAxIDEuNDE0LTEuNDE0TDYuNSA5LjA4Nmw0LjI5My00LjI5M2ExIDEgMCAwIDEgMS40MTQgMHonLz48L3N2Zz4=)
    }
    [type=radio]:checked{
      background-image:url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTYgMTYnIGZpbGw9JyNmZmYnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PGNpcmNsZSBjeD0nOCcgY3k9JzgnIHI9JzMnLz48L3N2Zz4=)
    }

    .switch-success:after{
      background:#dc2626;
      border-color:#dc2626;
      border-radius:50%;
      border-width:1px;
      content:"";
      height:1.25rem;
      width:1.25rem;
      position:absolute;
      top:.125rem;
      left:.125rem;
      transition-duration:.15s;
    }
    input:checked+.switch-success:after{
      border-color:#fff;
      background:#fff;
      transform:translateX(100%)
    }
    input:checked+.switch-success{
      background:#16a34a;
      border-color:#16a34a
    }
}